<div class="container" style="margin-top: 61px;">
    <div class="row">

        <div class="col-3"></div>

        <div class="col-6">
            <form>

                <div class="form-group">
                  <label for="nameA">Nombre:</label>
                  <input type="text" class="form-control" id="nameA" name="nameA" #nameA required>
                </div>
        
                <div class="form-group">
                  <label for="authorA">Autor:</label>
                  <input type="text" class="form-control" id="authorA" name="authorA" #authorA required>
                </div>
        
                <div class="form-group">
                  <label for="genreA">Genero:</label>
                  <select class="form-control" id="genreA" name="genreA" #genreA required>
                    <option>Accion</option>
                    <option>Ficcion</option>
                    <option>Comedia</option>
                    <option>Terror</option>
                    <option>Romance</option>
                  </select>
                </div>
        
                <div class="form-group">
                  <label for="synopsisA">Sinopsis:</label>
                  <input type="text" class="form-control" id="synopsisA" name="synopsisA" #synopsisA required>
                </div>
        
                <div class="form-group">
                  <label for="stockA">Stock:</label>
                  <input type="text" class="form-control" id="stockA" name="stockA" min="1" #stockA required>
                </div>
        
                <div class="form-group">
                  <label for="imageA">Imagen:</label>
                  <input type="text" class="form-control" id="imageA" name="imageA" #imageA required>
                </div>
        
                <div class="form-group">
                  <label for="fkA">Fk autor:</label>
                  <input type="text" class="form-control" id="fkA" name="fkA" #fkA required>
                </div>
        
                <button class="btn btn-primary" (click)="createLibro( nameA.value, authorA.value, genreA.value, 
                  synopsisA.value, stockA.value, imageA.value, fkA.value)">
                Añadir</button>

                <button class="btn btn-warning" routerLink="/Employee">Volver</button>
        
            </form>
        </div>

        <div class="col-3"></div>

    </div>
    
</div>