<div class="container" style="margin-top: 61px;">

  <button class="btn btn-primary" style="margin-right: 5px;" routerLink="/EmpleadoAñadirLibro">Añadir</button>

  <ul class="nav nav-tabs" role="tablist" style="justify-content: center;">

    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#libro">Libros</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#autor">Autores</a>
    </li>

  </ul>

  <div class="tab-content">

    <div id="libro" class="tab-pane active"><br>

      <script>
        $(document).ready(function(){
          $('#dtBasicExample').DataTable();
        });
      </script>

      <div id="tablaLibro" class="table-responsive">
        <table class="table">

          <thead>
            <tr>
              <th>EDIT</th>
              <th>Nombre</th>
              <th>Autor</th>
              <th>Genero</th>
              <th>Sinopsis</th>
              <th>Stock</th>
              <th>Imagen</th>
              <th>FKAutor</th>
              <th>DEL</th>
            </tr>
          </thead> 

          <tbody>
            <tr *ngFor="let book of books; let i = index">
              
              <td>
                <img data-toggle="modal" [attr.data-target]="'#modal' + i" height="25px" width="25px" src="assets/icon/update.png" alt="update icon">
                

                <div class="modal" [attr.id]="'modal' + i" data-backdrop="false"> 
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <div class="modal-header">
                        <h4 class="modal-title">Actualizar libro</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                
                      <div class="modal-body">
                        <form>

                          <div class="form-group">
                            <label for="nameA">Nombre:</label>
                            <input type="text" class="form-control" id="nameA" name="nameA" value="{{ book.name }}" #nameA required>
                          </div>
          
                          <div class="form-group">
                            <label for="authorA">Autor:</label>
                            <input type="text" class="form-control" id="authorA" name="authorA" value="{{ book.author }}" #authorA required>
                          </div>

                          <div class="form-group">
                            <label for="genreA">Genero:</label>
                            <select class="form-control" id="genreA" name="genreA" value="{{ book.genre }}" #genreA required>
                              <option>Accion</option>
                              <option>Ficcion</option>
                              <option>Comedia</option>
                              <option>Terror</option>
                              <option>Romance</option>
                            </select>
                          </div>
          
                          <div class="form-group">
                            <label for="synopsisA">Sinopsis:</label>
                            <textarea class="form-control" rows="3" id="synopsisA" name="synopsisA" value="{{ book.synopsis }}" #synopsisA required></textarea>
                          </div>

                          <div class="form-group">
                            <label for="stockA">Stock:</label>
                            <input type="text" class="form-control" id="stockA" name="stockA" min="1" value="{{ book.stock }}" #stockA required>
                          </div>
          
                          <div class="form-group">
                            <label for="imageA">Imagen:</label>
                            <input type="text" class="form-control" id="imageA" name="imageA" value="{{ book.image }}" #imageA required>
                          </div>

                          <div class="form-group">
                            <label for="fkA">Fk autor:</label>
                            <input type="text" class="form-control" id="fkA" name="fkA" value="{{ book.fk_author }}" #fkA required>
                          </div>
          
                          <button class="btn btn-warning" (click)="updateLibro(book, nameA.value, authorA.value, genreA.value, 
                            synopsisA.value, stockA.value, imageA.value, fkA.value)">Actuaizar</button>
          
                        </form>
                      </div>
                
                    </div>
                  </div>
                </div>

              </td>

              <td>{{ book.name }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.genre }}</td>
              <td style="height: 25px;">{{ book.synopsis }}</td>
              <td>{{ book.stock }}</td>
              <td>{{ book.image }}</td>
              <td>{{ book.fk_author }}</td>

              <td><img (click)="deleteLibro(book.id)" height="25px" width="25px" src="assets/icon/delete.png" alt="delete icon"></td>

            </tr>
          </tbody>

        </table>
      </div>

    </div>

    <!-- ******************************************************tab**************************************************************** -->

    <div id="autor" class="container tab-pane fade"><br>
        

    </div>

  </div>

</div>
